CipherSOAP_Client/xml-resources/web-service-references/CipherSoapService/wsdl/localhost_8080/CipherSOAP_Service/CipherSoapService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ciphersoapws.sephcordovano.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ciphersoapws.sephcordovano.com/" name="CipherSoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://ciphersoapws.sephcordovano.com/" schemaLocation="http://localhost:8080/CipherSOAP_Service/CipherSoapService?xsd=1"/>
</xsd:schema>
</types>
<message name="cipher">
<part name="parameters" element="tns:cipher"/>
</message>
<message name="cipherResponse">
<part name="parameters" element="tns:cipherResponse"/>
</message>
<message name="CipherArgumentException">
<part name="fault" element="tns:CipherArgumentException"/>
</message>
<message name="decipher">
<part name="parameters" element="tns:decipher"/>
</message>
<message name="decipherResponse">
<part name="parameters" element="tns:decipherResponse"/>
</message>
<message name="validateArguments">
<part name="parameters" element="tns:validateArguments"/>
</message>
<message name="validateArgumentsResponse">
<part name="parameters" element="tns:validateArgumentsResponse"/>
</message>
<portType name="CipherSoapService">
<operation name="cipher">
<input wsam:Action="http://ciphersoapws.sephcordovano.com/CipherSoapService/cipherRequest" message="tns:cipher"/>
<output wsam:Action="http://ciphersoapws.sephcordovano.com/CipherSoapService/cipherResponse" message="tns:cipherResponse"/>
<fault message="tns:CipherArgumentException" name="CipherArgumentException" wsam:Action="http://ciphersoapws.sephcordovano.com/CipherSoapService/cipher/Fault/CipherArgumentException"/>
</operation>
<operation name="decipher">
<input wsam:Action="http://ciphersoapws.sephcordovano.com/CipherSoapService/decipherRequest" message="tns:decipher"/>
<output wsam:Action="http://ciphersoapws.sephcordovano.com/CipherSoapService/decipherResponse" message="tns:decipherResponse"/>
<fault message="tns:CipherArgumentException" name="CipherArgumentException" wsam:Action="http://ciphersoapws.sephcordovano.com/CipherSoapService/decipher/Fault/CipherArgumentException"/>
</operation>
<operation name="validateArguments">
<input wsam:Action="http://ciphersoapws.sephcordovano.com/CipherSoapService/validateArgumentsRequest" message="tns:validateArguments"/>
<output wsam:Action="http://ciphersoapws.sephcordovano.com/CipherSoapService/validateArgumentsResponse" message="tns:validateArgumentsResponse"/>
<fault message="tns:CipherArgumentException" name="CipherArgumentException" wsam:Action="http://ciphersoapws.sephcordovano.com/CipherSoapService/validateArguments/Fault/CipherArgumentException"/>
</operation>
</portType>
<binding name="CipherSoapServicePortBinding" type="tns:CipherSoapService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cipher">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CipherArgumentException">
<soap:fault name="CipherArgumentException" use="literal"/>
</fault>
</operation>
<operation name="decipher">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CipherArgumentException">
<soap:fault name="CipherArgumentException" use="literal"/>
</fault>
</operation>
<operation name="validateArguments">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CipherArgumentException">
<soap:fault name="CipherArgumentException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CipherSoapService">
<port name="CipherSoapServicePort" binding="tns:CipherSoapServicePortBinding">
<soap:address location="http://localhost:8080/CipherSOAP_Service/CipherSoapService"/>
</port>
</service>
</definitions>